label for="title" Title:
input#title type="text" name="ps4[title]" value="#{@ps4_game.title}"
label for="info" Info:
input#length type="text" name="ps4[info]" value="#{@ps4_game.info}"
label for="release_date" Date(mm/dd/yyyy):
input#released_on type="text" name="ps4[release_date]" value="#{@ps4_game.release_date.strftime("%m/%d/%Y") if @ps4_game.release_date}"
input type="submit" value="Save Game"
